@font-face {
  font-family: "iconfont"; /* Project id 3392920 */
  src: url('//at.alicdn.com/t/font_3392920_1hv0tta9c25.woff2?t=1652251535116') format('woff2'),
       url('//at.alicdn.com/t/font_3392920_1hv0tta9c25.woff?t=1652251535116') format('woff'),
       url('//at.alicdn.com/t/font_3392920_1hv0tta9c25.ttf?t=1652251535116') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e66f";
}

.icon-gitee:before {
  content: "\e60c";
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
